body,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,dt,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
	ul,ol,li{list-style:none;}
	a,u{text-decoration:none;}
	img{border:0;display:block;}
	h1,h2,h3,h4,h5,h6{font-weight:normal;}
	.clearfix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
html,body{
	font: 12px/15px "微软雅黑";
	background: #F5F5F5;
	width: 100%;
}

ul li,ol li{
	list-style: none;
}
a{
	text-decoration: none;
}
.layout{
	width: 1200px;
	margin: 0 auto;
}
.header{
	height: ;
}

/************************** header  ***************************/
.header_t{
	height: 30px;
	margin-bottom: 15px;
}
.address{
	width:175px;
	height:30px;
	float: left;
	background: url(../img/top_sel_bg.jpg) no-repeat right center;
}

/*********左边部分——配送至*********/
	.address a {
		color:#999;
		height:30px;
		line-height:30px;
		float: left;
		padding-right: 5px;
		padding-left: 5px;
	}
	.address a:first-child {
		width:75px;
		background:url(../img/guoqi/1.png) no-repeat 50px center;
		background-size: 25px 15px;
	}

/*******右边********/
.header_t_r{
	width: 260px;
	height: 30px;
	/*background:burlywood;*/
	float:right;
	position:relative;
	z-index: 120;
}
.header_t_r >li {
	width:83px;
	height:30px;
	float: left;
	overflow: hidden;
}
.header_t_r >li >a{
	display: block;
	padding-left: 15px;
	color:#999;
	border-left:1px #ccc solid ;
	margin-top: 8px;
	margin-bottom: 8px;
}
.header_t_r >li:last-child a{
	border-right: 1px #ccc solid;
}
.header_t_r >li >a:hover{
	color: #333;
}

.header_t_r >li:last-child{
	right:0;
	width:90px;
	position:absolute;
	background: url(../img/top_service_arr.png) no-repeat 65px 10px;
}
.header_t_r >li:last-child:hover{
	background: url(../img/top_service_arr_o.png) no-repeat 65px 10px;
}
.client{
		width:75px;
		border: 1px solid #ccc;
		background: #fff;
	}
	.client a {
		display: block;
		width:100%;
		text-align: center;
		text-indent: 15px;
		line-height: 25px;
		color: #666;
	}
	.client li:first-child a {
		border-bottom: 1px solid #ccc;
		background: url(../img/top_service_icon.png) no-repeat 2px 3px;
	}
	.client li:last-child a {
		background: url(../img/top_service_icon.png) no-repeat 2px -23px;
	}
	.client li:hover{
		background: #E4E4E4
	}
	
/******************************** 中间  **************************/

.header_c{
	/*display:flex;*/
	width: 100%;
	height:85px;
	background:#f5f5f5;
	
}
.logo{
	padding-top:16px;
	width:214px;
	height:60px;
	float: left;
}
/*************** 中  *************/
.header_c_c{
	margin-left:137px;
	padding-top:15px;
	height: 70px;
	float: left;
	/*background: #DEB887;*/
	box-sizing: border-box;
	position: relative;
}
.searchInput{
	width: 439px;
	height:46px;
	border:1px #EB5A41 solid;
	float: left;
	outline: none;
}

.search{
	width: 63px;
	height: 47px;
	border: none;
	background:#eb5a41 url(../img/search_icon.png) no-repeat center ;
	outline: none;
}

.search_ol{
	position: absolute;
	width: 439px;
	min-height:0px;
	border: 1px #e4e4e4 solid;
	background: white;
	z-index: 100;
	display: none;
	margin-top: -2px;
}


/*************************  右  ********************/
.header_c_r{
	width:270px ;
	padding-top: 15px;
	height:70px;
	float: right;
	/*background:#E4E4E4;*/
}
/****************登录注册******************/
.header_c_rlogin{
	/*box-sizing: border-box;*/
	font-size: 16px;
	width: 148px;
	height: 50px;
	float: left;
	overflow: hidden;
	position: relative;
	z-index: 100;
}
.header_c_rlogin >p {
	height:30px;
	line-height:30px;
	/*background: bisque;*/
	margin-top: 10px;
}

.header_c_rlogin >p >img{
	margin-left: 10px;
	float: left;
} 

.header_c_rlogin >p >a{
	padding:0 8px;
}

.header_c_rlogin input[type='button']{
	display: block;
	width: 107px;
	height:35px;
	background: #eb5a41;
	border: none;
	border-radius:4px;
	margin-left:20px;
	margin-top: 20px;
	font-size: 14px;
	color: white;
}

.header_c_rlogin >p:last-child{
	text-align: center;
}

/***************** 购物车*******************/
.header_c_rcart{
	/*box-sizing: border-box;*/
	font-size: 16px;
	width: 110px;
	height:50px;
	float: right;
	position: relative;
	
}

.header_c_rcart >p {
	box-sizing: border-box;
	width: 110px;
	height:50px;
	line-height:50px;
	/*background: white;*/
	position: absolute;
	z-index: 130;
}

.header_c_rcart >p >img{
	margin-top: 10px;
	float: left;
}

.header_c_rcart >p >span{
	float: left;
	margin-left: 10px;
}

.header_cartNum{
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background: #eb5a41;
	color:white;
	text-align: center;
	line-height: 25px;
	position: absolute;
	z-index: 150;
	left: 15px;
	top:5px
}

.header_cart{
	width: 300px;
	min-height: 112px;
	border: 1px #ccc solid;
	background: white;
	position: absolute;
	z-index: 100;
	margin-top: 49px;
	right:0;
	display:none;
}

/**************************** header_nav **************************/
.header_nav{
	box-sizing: border-box;
	width: 1200px;
	height: 50px;
	padding-left:350px;
	/*background: #f5f5f5;*/
}
.header_nav p>a{
	color: #999;
	padding-right: 10px;
}

/******************************  nav  *******************************/
.nav{
	/*width:100%*/
	height:42px;
	border-bottom:2px black solid;
	background: #f5f5f5;
	box-sizing: border-box;
}

.nav_l{
	font-size: 16px;
	box-sizing: border-box;
	width:322px;
	height:40px;
	float: left;
	cursor: pointer;
	position: relative;
}
.nav_l >p{
	box-sizing: border-box;
	width: 322px;
	height: 40px;
	line-height: 40px;
	padding-left: 50px;
	background: url(../img/catagory_tit_bg.png)no-repeat 15px center;
}

.menu{
	width:322px;
	height:392px;
	background: #333;
	position: absolute;
	z-index: 500;
}
.menu >li{
	width: 100%;
	height:49px;
	line-height: 49px;
	color: white;
}
.menu >li >p >a{
	width: 70px;
	padding-left:20px;
	float: left;
	/*background: #CCCCCC;*/
	color: white;
}

.menu >li >a{
	font-size: 12px;
	color: #999;
}


/*************  右**************/
.nav .layout >a {
	font-size: 16px;
	color: black;
	float: left;
	height: 40px;
	line-height: 40px;
	padding-right:70px;
}

.nav .layout>a:nth-of-type(3){
	background: url(../img/hot_nav_icon.png) no-repeat 45px 5px;
}
.nav >a:hover{
	color: #eb5a41;
}



.second_menu{
	width: 878px;
	height: 392px ;
	box-sizing: border-box;
	background: white;
	position: absolute;
	z-index: 100;
	top:42px;
	left:322px ;
	
	display: none;
}

.sec_ml{
	width: 608px;
	height:392px;
	float: left;
}

.sec_ml p {
	border-bottom: 1px solid #f5f5f5;
	padding-top: 12px;
	min-height: 36px;
	overflow: hidden;
	margin-left: 25px;
}

.sec_ml p a{
	font-size: 12px;
	line-height: 20px;
	padding-right:14px;
	padding-top:8px;
	color: black;	
	
}

.sec_ml p a:first-child{
	float: left;
	width: 69px;
	box-sizing: border-box;
	border-right: 1px solid #666;
	font-size:14px ;
	font-weight: bold;
	padding:0;
	margin-bottom: 10px;
	margin-right: 6px;
}



.sec_ml p a:hover{
	color:#eb5a41 ;
}

.sec_mr >p {
	height: 54px;
	line-height: 54px;
	font-weight:bold ;
	text-align: center;
}

.sec_mr img {
	float: left;
	width: 102px;
	height: 61px;
	box-sizing: border-box;
	border: 1px #ccc solid;
	margin-bottom: 15px;
}

.sec_mr img:nth-of-type(7){
	width: 219px;
	height: 91px;
}

.sec_mr img:nth-of-type(2n+1){
	margin-right: 15px;
}



/***************************** footer ***********************/

.foot_t{
	width: 1200px;
	box-sizing: border-box;
	height: 125px;
	/*background: #ccc;*/
	font-size: 14px;
	overflow: hidden;
}

.foot_t >p:nth-of-type(1){
	width: 660px;
	height: 125px;
	line-height: 125px;
	float: left;
}


.foot_searchInput{
	width: 439px;
	height:46px;
	border:1px #EB5A41 solid;
	/*float: left;*/
	outline: none;
	
}

.foot_search{
	width: 63px;
	height:47px;
	border: none;
	color: white;
	background:black;
	outline: none;
}


.foot_t >p:nth-of-type(2){
	box-sizing: border-box;
	width:156px ;
	height:125px;
	float: right;
}

.foot_t >p:nth-of-type(2) >a{
	float: left;
	width: 32px;
	height: 32px;
	margin-left:20px;
	margin-top:46px;
}


/****************************** footer 中间 **************************/
.foot_c{
	height:372px;
	box-sizing: border-box;
	border-top:1px black solid;
	background: #ebebeb;
}

.foot_cl,.foot_cc,.foot_cr {
	    margin-top:46px;
	    box-sizing: border-box;
		float: left;
		height: 240px;
	}
	.foot_cl {
		width: 659px;
		border-right: 1px solid #ddd;
	}
	.foot_cl ul {
		float: left;
		margin-right: 65px;
	}
	.foot_cl ul li >h3{
		margin-bottom: 20px;
	}
	.foot_cl ul li> a {
		display: block;
		color: #666;
		margin-top: 8px;
	}
	.foot_cl ul li >a:hover {
		transition: all 1s;
		transform: translateX(10px);
		opacity: .5;
		filter: Alpha(opacity = 50);
	}
	
		/*中部*/
	.foot_cc {
		width: 359px;
		border-right: 1px solid #ddd;
		font: 12px/22px "微软雅黑";
		color: #666;
		text-indent: 50px;
	}
	.foot_cc >p:first-child {
		font-size: 15px;
		color: #333;
		height: 30px;
	}
	.foot_cc >p:nth-child(7) {
		margin-top:30px;
		font-size: 15px;
		color: #333;
		line-height: 30px;
	}
	.foot_cc >p:nth-child(8) >a {
		color: blue;
	}
	
		/*右部*/
	.foot_cr {
		width: 180px;
	}
	.foot_cr p {
		font: 12px/1.5 "微软雅黑";
		text-indent: 50px;
		margin-top: 30px;
	}
	.foot_cr a {
		display: block;
		height: 83px;
		width: 82px;
		margin: 15px;
		margin-left: 50px;
	}


/************************footer 底部 ***********************/
.foot_bottom{
	background: #ebebeb;
}

.foot_b{
	box-sizing: border-box;
	height: 155px;
	border-top:1px #ccc solid ;
	padding-top: 20px;
}
.foot_b >p{
		text-align: center;
		color: #333;
	}
.foot_b >p:nth-of-type(2){
	margin-top: 10px;
	padding-left:400px ;
}
	
.foot_b >p:nth-of-type(2) a{
	float: left;
	margin-right: 5px;
}
